<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - My Blog</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/Blog">Blog</a>
            <a href="/about-Info">About</a>
            <!-- TODO: Add About link here -->
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; 2024 - My Blog
    </footer>
</body>
</html>