@page
@model AddAliasModel
<form method="post">
    <div>
        <label asp-for="Alias">Alias: </label>
        <input asp-for="Alias" name="Alias"/>
    </div>
    <button type="submit">Add Alias</button>
</form>