@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Weather Service</h1>
    <ul>
        <!-- TODO: Add links to the About page, Weather Info route, and Weather Reports page -->
        <li><a href="/about-info">About page</a></li>
        <li><a href="/weather-info">Weather Info</a></li>
        <li><a href="/reports">Reports</a></li>
    </ul>
</body>
</html>