@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <ul>
        <!-- TODO: Add links to the custom routes here -->
                <li><a href="/about-info">Info</a></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>