@page 
@model CreateModel
<form method="post">
    <div>
        <label asp-for="HeroName"></label>
        <input asp-for="HeroName" name="HeroName" />
    </div>
    <button type="submit">Create</button>
</form>