@page
@model AddHeroModel
<form method="post">
    <div>
        <!-- TODO: Add 'HeroName' field to the form -->
        <label for="HeroName">Hero Name:</label>
        <input type="text" id="HeroName" name="HeroName"/>
    </div>
    <div>
        <!-- TODO: Add 'Description' field to the form -->
        <label for="Description">Description:</label>
        <input type="text" id="Description" name="Description"/>
    </div>
    <button type="submit">Add Hero</button>
</form>