@page
@model BlogIndexModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <ul>
        @foreach (var post in Model.BlogPosts)
        {
            <li>
                <h2>@post.Title</h2>
                <p>@post.Content</p>
                <p><small>@post.CreatedAt.ToShortDateString()</small></p>
            </li>
        }
    </ul>
</body>
</html>