@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <a href="/EditBook/1">Go to Edit Book Page</a>
</body>
</html>